.header-box{
    font-size: 40px;
    background: #fff;
    width: 100%;
    // position: fixed;
    .header-top{
        width: 100%;
        height: 50px;
        //  line-height: 50px;
        padding: 0 20px;
        box-sizing: border-box;
        // overflow: hidden;
        position: relative;
        .hed-top{
              color: rgb(15, 136, 235);
              font-size: 50px;
              display: inline-block;
              line-height: 1rem;
        }
        .sou-put{
            height: 30px;
            display: inline-block;
            color: #999;
            width: 50%;
            text-align: center;
            font-size: 30px;
            line-height: 0.6rem;
            margin: 10px;
            border-radius: 30px;
            background: hsla(0, 0%, 92%, .72);
        }
        .size-box{
            font-size: 30px;
            //  margin-top: 10px;
            line-height: 1rem;
            display: inline-block;
             color: rgb(15, 136, 235);
        }
        .cai-box{
            // position: relative;
        }
        .cai-cont{
            width: 100%;
            padding: 20px;
            position: absolute;
            top:50px;
            left: 0;
            background: #fff;
            z-index: 10;
            li{
                list-style: none;
                font-size: 0.35rem;
                padding-top: 10px
            }
        }
    }
    // .yin-box{
    //         height: 5px;
    //         background-image: linear-gradient(0deg, #fcfcfc, #ebebeb);
    // }
    .header-tab{
        width: 100vw;
        height: 50px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
        background-color: #fcfcfc;
        padding:  10px 0;
        box-sizing: border-box;
        overflow: hidden;
        .ul{
              overflow-x: scroll;
              white-space: nowrap;
            height: 53px;
            li{
                margin: 0 5px 0 10px;
                color: #999;

                display: inline-block;
                border: .5px solid #ebebeb;
                font-size: 30px;
                padding: 3px 15px;
                border-radius: 20px;
                a{
                    color: #999;
                }
                .active{
                    color: #000;

                }
            }
        }
    }
    .header-ding{
        position: fixed;
        top:0;
        z-index: 5;
    }
}