.main-box{
    width: 100%;
    margin-top: 106px;
    background-color: #F6F6F6;
    .main-center{
        width: 100%;
        margin: 0 auto;
        .link{
            margin: 10px;
        }
    }
}
img{
    width: 200px;
}