.main-box{
    width: 100%;
    margin-top: 106px;
    background-color: #F6F6F6;
    .main-center{
        width: 100%;
        margin: 0 auto;
        .link{
            margin: 10px;
        }
    }
<<<<<<< HEAD
}
img{
    width: 200px;
=======
>>>>>>> 249c657d896071c63c0f230363851753d7c2e8f3
}